extends layout
block content
    h3 Versión 0.1                
    table(class="table")
        tr
            th(rowspan='2') ALUMNOS
            td 
                a(href="alumno/create") Insertar (C.)
        tr
            td
                a(href="alumno/read") Listar (R.U.D.)
        tr
            th(rowspan='2') PROFESORES
            td 
                a(href="profesor/create") Insertar (C.)
        tr
            td
                a(href="profesor/read") Listar (R.U.D.)
        tr
            th(rowspan='2') ASIGNATURAS
            td 
                a(href="asignatura/create") Insertar (C.)
        tr
            td
                a(href="asignatura/read") Listar (R.U.D.)                 
    