doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/progress.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="./javascripts/eventButton.js")
        script(src="./javascripts/progress.js")
    body
        div(class="container")
            div(class="panel-group")
                div(class="panel panel-info")
                    div(class="panel-heading", style="text-align:center;")
                        h2
                            strong Gestión Académica 
            div
                nav.navbar.navbar-inverse
                    .container-fluid
                        .navbar-header
                            a.navbar-brand(href='/') Gestión Académica
                        ul.nav.navbar-nav
                            li.active
                                a.glyphicon.glyphicon-home(href='/')
                            li.dropdown
                                a.dropdown-toggle(data-toggle='dropdown', href='#')
                                    | Matriculación
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/matriculaCreate') Nueva matrícula
                                    li
                                        a(href='/matriculaRead') Listar matrículas
                            li
                                a(href='#') Asignar asignaturas












            block content
            footer(class="well") 
                strong Copyleft 
                | Rafael Vargas del Moral
                